source https://api.nuget.org/v3/index.json
source https://baget.stdunit.com/v3/index.json


cache ./nuget-package-caches
storage: none
strategy: min
framework: net8.0, net8.0-windows10.0.19041

nuget Microsoft.Extensions.DependencyInjection >= 8.0 lowest_matching: true
nuget Microsoft.Extensions.Logging >= 8.0 lowest_matching: true
nuget System.Memory >= 4.6.3 lowest_matching: true
nuget Microsoft.XmlSerializer.Generator >= 8.0 lowest_matching: true

nuget FSharp.Core >= 8.0 lowest_matching: true
nuget Itminus.FSharpExtensions >= 0.1.7 lowest_matching: true
nuget FutureTech.ModbusTcp.Options >= 0.5.0 lowest_matching: true
nuget FutureTech.Protocols >= 0.5.2 lowest_matching: true
nuget StdUnit.Sharp7 >= 0.6.4 lowest_matching: true
nuget StdUnit.Sharp7.Options >= 0.6.4 lowest_matching: true

nuget McMaster.NETCore.Plugins >= 2.0.0 lowest_matching: true

nuget R3 >= 1.3.0 lowest_matching: true
nuget R3Extensions.WPF >= 1.3.0 lowest_matching: true

nuget System.Reactive >= 6.1.0 lowest_matching: true

nuget System.IO.Ports >= 8.0.0 lowest_matching: true
nuget System.IO.Pipelines >= 10.0.7 lowest_matching: true
nuget System.Diagnostics.DiagnosticSource >= 10.0.10 lowest_matching: true

nuget Microsoft.AspNetCore.Components.Web >= 8.0.12 lowest_matching: true
nuget MudBlazor >= 9.2.0 lowest_matching: true

nuget OPCFoundation.NetStandard.Opc.Ua >= 1.5.374.126 lowest_matching: true

nuget Microsoft.CodeAnalysis.CSharp.Scripting >= 5.3.0 lowest_matching: true
nuget ModelContextProtocol >= 1.4.1 lowest_matching: true
nuget ModelContextProtocol.AspNetCore >= 1.4.1 lowest_matching: true

nuget xunit >= 2.5.3 lowest_matching: true
nuget xunit.runner.visualstudio >= 2.5.3 lowest_matching: true
nuget coverlet.collector >= 6.0.0 lowest_matching: true
nuget Microsoft.NET.Test.Sdk >= 17.8.0 lowest_matching: true

